storage:
  dbPath: {{ mongo_data_dir }}

systemLog:
  destination: file
  path: {{ mongo_log_dir }}/mongod.log
  logAppend: true

net:
  port: {{ config_port }}
  bindIp: 0.0.0.0
  tls:
    mode: requireTLS
    certificateKeyFile: {{ mongo_cert_dir }}/mongodb.pem
    CAFile: {{ mongo_cert_dir }}/ca.pem
    allowConnectionsWithoutCertificates: false
    allowInvalidCertificates: false

replication:
  replSetName: "{{ repl_set_name }}"
  
sharding:
  clusterRole: "{{ cluster_role }}"

security:
  authorization: enabled
  keyFile: {{ mongo_cert_dir }}/mongodb-keyfile

processManagement:
  pidFilePath: "{{ mongo_log_dir }}/mongod.pid"
  