storage:
  dbPath: {{ mongo_base_dir }}/shard/data

systemLog:
  destination: file
  path: {{ mongo_base_dir }}/shard/logs/mongod.log
  logAppend: true

net:
  port: {{ shard_port }}
  bindIp: {{ hostvars[inventory_hostname]['ansible_host'] }}
  tls:
    mode: requireTLS
    certificateKeyFile: {{ vault_dir }}/secrets/mongo/mongodb-{{ hostvars[inventory_hostname]['ansible_host'] }}.pem
    CAFile: {{ vault_dir }}/authorities/ca.pem
    allowConnectionsWithoutCertificates: false
    allowInvalidCertificates: false

replication:
  replSetName: "{{ repl_set_name }}"
  
sharding:
  clusterRole: "{{ cluster_role }}"

security:
  authorization: enabled
  keyFile: {{ vault_dir }}/secrets/mongo/mongodb-keyfile

