systemLog:
  destination: file
  path: /mnt/mongo/mongos/logs/mongos.log
  logAppend: true
net:
  port: 27017
  bindIp: 0.0.0.0
  tls:
    mode: requireTLS
    certificateKeyFile: /mnt/mongo/certs/mongodb.pem
    CAFile: /mnt/mongo/certs/ca.pem
security:
  authorization: enabled
  keyFile: /mnt/mongo/certs/mongodb-keyfile
sharding:
  configDB: cfgRS1/cfg1:27019,cfg2:27019,cfg3:27019
processManagement:
  timeZoneInfo: /usr/share/zoneinfo

