systemLog:
  destination: file
  path: {{ mongo_base_dir }}/mongos/logs/mongos.log
  logAppend: true

net:
  port: {{ mongos_port }}
  bindIp: 0.0.0.0
  tls:
    mode: requireTLS
    certificateKeyFile: {{ mongo_base_dir }}/certs/secrets/mongodb.pem
    CAFile: {{ mongo_base_dir }}/certs/ca.pem
    allowConnectionsWithoutCertificates: false
    allowInvalidCertificates: false

sharding:
  configDB: {{ config_repl_set_name }}/{{ config_server_hosts | join(',') }}

security:
  keyFile: {{ mongo_base_dir }}/certs/secrets/mongodb-keyfile

processManagement:
  pidFilePath: "{{ mongo_base_dir }}/mongos/logs/mongos.pid"
  