systemLog:
  destination: file
  path: {{ mongo_log_dir }}/mongos.log
  logAppend: true

net:
  port: {{ mongos_port }}
  bindIp: 0.0.0.0
  tls:
    mode: requireTLS
    certificateKeyFile: {{ mongo_cert_dir }}/mongodb.pem
    CAFile: {{ mongo_cert_dir }}/ca.pem
    allowConnectionsWithoutCertificates: false
    allowInvalidCertificates: false

sharding:
  configDB: {{ config_repl_set_name }}/{{ config_server_hosts | join(',') }}

security:
  keyFile: {{ mongo_cert_dir }}/mongodb-keyfile

