{% raw %}
{{ with secret "pki/issue/mongo-config-{% endraw %}10.{{ mongo_config_subnet }}.0.{{ ansible_host.split('.')[-1] }}{% raw %}" "common_name={% endraw %}10.{{ mongo_config_subnet }}.0.{{ ansible_host.split('.')[-1] }}{% raw %}" "alt_names={% endraw %}{{ inventory_hostname }}{% raw %}.mongo" "ip_sans={% endraw %}10.{{ mongo_config_subnet }}.0.{{ ansible_host.split('.')[-1] }}{% raw %}" }}
{{ .Data.certificate }}
{{ .Data.private_key }}
{{ end }}
{% endraw %}