{% raw %}
{{ with secret "pki/issue/mongo-{% endraw %}{{ hostvars[inventory_hostname]['ansible_host'] }}{% raw %}" "common_name={% endraw %}{{ hostvars[inventory_hostname]['ansible_host'] }}{% raw %}" "alt_names={% endraw %}{{ inventory_hostname }}{% raw %}.mongo" "ip_sans={% endraw %}{{ hostvars[inventory_hostname]['ansible_host'] }}{% raw %}" }}
{{ .Data.certificate }}
{{ .Data.private_key }}
{{ end }}
{% endraw %}