server:
  ip: {{ tabletop_vault_server_ip }}
  port: {{ tabletop_vault_server_port }}

tls:
  ca: {{ vault_dir }}/authorities/ca.pem
  cert: {{ vault_dir }}/certs/mongo/vaultServerClient.crt
  key: {{ vault_dir }}/certs/mongo/vaultServerClient.key

request:
  id: {{ inventory_hostname }}
  ip: {{ hostvars[inventory_hostname]['ansible_host'] }}
  purpose: Get role_id and secret_id for mongodb secrets
  policies:
    - mongo-approle-reader-{{ hostvars[inventory_hostname]['ansible_host'] }}
  num_uses: 2
