[ req ]
default_bits       = 4096
prompt             = no
default_md         = sha256
req_extensions     = req_ext
distinguished_name = dn

[ dn ]
C = US
ST = State
L = City
O = TableTop
CN = {{ hostvars[inventory_hostname]['ansible_host'] }}

[ req_ext ]
subjectAltName = @alt_names
extendedKeyUsage = serverAuth, clientAuth
keyUsage = keyEncipherment, digitalSignature

[ alt_names ]
DNS.1 = {{ inventory_hostname }}.mongo
DNS.2 = localhost
IP.1 = {{ hostvars[inventory_hostname]['ansible_host'] }}
IP.2 = 127.0.0.1
IP.3 = 192.168.1.95
IP.4 = 10.10.0.{{ hostvars[inventory_hostname]['ansible_host'].split('.')[-1] }}
IP.5 = 10.20.0.{{ hostvars[inventory_hostname]['ansible_host'].split('.')[-1] }}
IP.6 = 10.30.0.{{ hostvars[inventory_hostname]['ansible_host'].split('.')[-1] }}