path "auth/approle/role/mongos-{{ hostvars[inventory_hostname]['ansible_host'] }}/role-id" {
  capabilities = ["read"]
}

path "auth/approle/role/mongos-{{ hostvars[inventory_hostname]['ansible_host'] }}/secret-id" {
  capabilities = ["update"]
}
