pid_file = "{{ vault_dir }}/agents/mongos/mongos-vault-agent.pid"

vault {
  address = "https://{{ vault_ip }}:{{ hashi_vault_port }}"
  tls_ca_file = "{{ vault_dir }}/authorities/ca.pem"
}

auto_auth {
  method "approle" {
    config = {
      role_id_file_path = "{{ vault_dir }}/secrets/mongos/role_id"
      secret_id_file_path = "{{ vault_dir }}/secrets/mongos/secret_id"
      remove_secret_id_file_after_reading = true
    }
  }
  sink "file" {
    config = {
      path = "{{ vault_dir }}/secrets/mongos/.vault-token"
    }
  }
}

template {
  source      = "{{ vault_dir }}/templates/mongos/mongos-{{ hostvars[inventory_hostname]['ansible_host'] }}.pem.ctmpl"
  destination = "{{ vault_dir }}/secrets/mongos/mongos-{{ hostvars[inventory_hostname]['ansible_host'] }}.pem"
  perms       = 0600
  command     = "sudo {{ vault_dir }}/scripts/mongos/mongos-vault-restart.sh; exit 0"
}

