pid_file = "{{ vault_dir }}/agents/mongo/mongo-vault-agent.pid"

vault {
  address = "https://{{ vault_ip }}:{{ hashi_vault_port }}"
  tls_ca_file = "{{ vault_dir }}/authorities/ca.pem"
}

auto_auth {
  method "approle" {
    config = {
      role_id_file_path = "{{ vault_dir }}/secrets/mongo/role_id"
      secret_id_file_path = "{{ vault_dir }}/secrets/mongo/secret_id"
      remove_secret_id_file_after_reading = false
    }
  }
  sink "file" {
    config = {
      path = "{{ vault_dir }}/secrets/mongo/.vault-token"
    }
  }
}

template {
  source      = "{{ vault_dir }}/templates/mongo/mongodb-{{ hostvars[inventory_hostname]['ansible_host'] }}.pem.ctmpl"
  destination = "{{ vault_dir }}/secrets/mongo/mongodb-{{ hostvars[inventory_hostname]['ansible_host'] }}.pem"
  perms       = 0600
  command     = "sudo {{ vault_dir }}/scripts/mongo/mongo-vault-restart.sh; exit 0"
}

template {
  source      = "{{ vault_dir }}/templates/mongo/mongodb-keyfile.ctmpl"
  destination = "{{ vault_dir }}/secrets/mongo/mongodb-keyfile"
  perms       = 0600
  command     = "sudo {{ vault_dir }}/scripts/mongo/mongo-vault-restart; exit 0"
}
